@import "./variables.css";
@import "./reset.css";

body {
  background: var(--body);
  color: var(--body-text);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  font-size: var(--fs-xs);
  padding: 12px 24px;
  border-radius: 74px;
  font-weight: var(--fw-regular);
  cursor: pointer;
}

.btn-orange {
  border: none;
  color: var(--clr-black-800);
  background: var(--clr-orange-grd-left);
}

.btn-orange:hover {
  background: transparent;
  color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
}

.btn-outline {
  border: 1px solid var(--clr-white);
  background: transparent;
  color: var(--clr-white);
}

.btn-outline:hover {
  background-color: var(--clr-white);
  color: var(--clr-orange);
}

.btn-outline-2 {
  border: 1px solid var(--modal-btn-border);
  background: transparent;
  color: var(--modal-btn-text);
}

.btn-outline-2:hover {
  border: none;
  background-color: var(--modal-btn-background);
  color: var(--modal-btn-text-2);
  font-weight: var(--fw-medium);
}

/* Tablet (768px) */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .btn {
    font-size: var(--fs-sm);
  }
}

/* Desktop (1280px) */
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .btn {
    font-size: var(--fs-md);
  }
}
