<div class="container upcoming__container">
  <h2 class="upcoming__heading">UPCOMING THIS MONTH</h2>

  <div class="upcoming__layout">

    <div class="upcoming__media" data-upcoming-open>
      <img class="upcoming__image" alt="" />
    </div>

    <div class="upcoming__content">
      <h3 class="upcoming__title" data-upcoming-open></h3>

      <div class="upcoming__meta">
        <div class="upcoming__meta-left">
          <p>Release date</p>
          <p>Vote / Votes</p>
          <p>Popularity</p>
          <p>Genre</p>
        </div>

        <div class="upcoming__meta-right">
          <p class="upcoming__release"></p>
          <p class="upcoming__vote"></p>
          <p class="upcoming__popularity"></p>
          <p class="upcoming__genre"></p>
        </div>
      </div>

      <div class="upcoming__about">ABOUT</div>
      <p class="upcoming__overview"></p>

      <button type="button" class="btn btn-orange upcoming__btn">
        Add to my library
      </button>
    </div>

  </div>
</div>