.movie-grid {
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
