.library__section {
  background-color: var(--library-background);
  padding: 45px 0px;
}

.library__container {
  max-width: 1280px;
  width: 100%;
}

#genre-filter {
  margin-bottom: 36px;
}

#library__list .movie-card {
  max-width: 280px;
  width: 100%;
}

.library-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1280px;
  width: 100%;
}

.movie-grid.library-list--empty {
  display: flex;
}

.library-empty__content {
  color: var(--library-text);
  font-size: var(--fs-xl);
  text-align: center;
}

@media screen and (min-width: 768px) {
  #library__list .movie-card {
    max-width: 395px;
  }

  .library-empty__content {
    font-size: var(--fs-2xl);
  }
}

@media screen and (min-width: 1280px) {
  .library-empty__content {
    font-size: 32px;
  }
}
