<div class="container header__container">

  <a href="/" class="header__logo">
    <svg class="header__logo-icon">
      <use href="/src/images/icons/sprite.svg#icon-logo"></use>
    </svg>

    <span class="header__logo-text">Cinemania</span>
  </a>

  <nav class="header__nav-menu">
    <ul class="header__nav-list">
      <li><a href="/" class="header__nav-link">HOME</a></li>
      <li><a href="/catalog/" class="header__nav-link">CATALOG</a></li>
      <li><a href="/library/" class="header__nav-link">MY LIBRARY</a></li>
    </ul>
  </nav>

  <button type="button" class="header__menu-btn">MENU</button>

  <button class="theme-switch" id="theme-switch" type="button" aria-label="Toggle Theme">
    <span class="theme-switch-handle"></span>

    <div class="theme-switch-icons">
      <svg>
        <use href="/src/images/icons/sprite.svg#icon-dark"></use>
      </svg>

      <svg>
        <use href="/src/images/icons/sprite.svg#icon-light"></use>
      </svg>

    </div>

  </button>
  <div class="header__backdrop"></div>
</div>